#======================================
# Directories
#--------------------------------------
build/
node_modules/

#======================================
# IDE generated
#--------------------------------------
yarn.lock
package-lock.json
.package-lock.json
.idea/
.project
*.iml

#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db
