
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body {
  font-family: lato;
  font-weight: 300;
  overflow-y: scroll;
  overflow-x: hidden;
}
a:hover, a:focus { text-decoration: none; }

/* NAVBAR */
.navbar {
  transition: all .2s linear;
  color: white;
  font-size:14px;
  position:fixed !important;
  background: rgba(0, 0, 0, 0.5);
  border: none;
}
.site-title, .user li a {
  color: white !important;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
}
.site-title { font-weight: 400; }
.user li a {  padding: 0px 15px; }
.user li a:hover, .user li a:focus { background: black !important; }

/* HEADER */
.site-header {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
}
.header-description {
  /*margin: 150px 0px 100px 0px;*/
  text-align: center;
}
.header-description h2 {
  font-weight: 100;
  font-size: 100px;
  color: white;
  text-shadow: 0 0px 12px rgba(36, 36, 36, 0.55);
}

.dark {
background: #505050;
color: white;
}

/* INTRO */
#intro { padding: 60px 0 55px 0; }

/* WORK */
#work * { transition: all .2s linear; }
#work div { padding-left: 0px !important; padding-right: 0px !important;}
#work span { height: 200px; }
#work a {
  color: white !important;
}
#work a:hover { background: darkgray; }

#work a>h4, #work a>p {padding-right: 15px; padding-left: 15px;}
.repad { margin-left: 15px; margin-right: 15px; }
.square {
  display: inline-block;
}
.grid-image {
  background: white no-repeat center top;
  height: 200px;
  background-size: cover;
}
.grid-light {
  background: #c0c0c0;
  height: 200px;
}
.grid-dark { height: 400px; }
blockquote {
  margin-top:50px;
  text-align: center;
  color: white;
  border-left: none;
}
#testimonials-carousel {
  background: url(../img/bg2.jpg) no-repeat center top;
  background-size: cover;
  height: 200px;
}

/* ABOUT */
#about { padding: 40px 0 60px 0;}

/* CONTACT */

#contact div {padding: none !important;}

.social div { text-align: center; font-size: 30px;  }
.social a {
  display: inline-block;
  width: 100%;
  height: 75px;
  line-height: 75px;
}
/*.social a:hover { background: darkgray;}*/
.social a i { color: gray; }
.social a:hover i { color: white; }

input, textarea, .send-button {
background: #f2f2f2;
/*height: 46px;*/
padding: 10px 16px;
/*font-size: 18px;*/
line-height: 1.33;
width: 100%;
border: 0;
border-bottom: 2px solid #cacaca;
color: #C0C0C0;
}
.send-button {
  color: white;
  background: #8AC007;
  text-align: left;
  border: none;
}
textarea { height: auto; margin-bottom: -8px;}

.contact-us {background: #37383a;}

input:focus, textarea:focus {
    outline: none;
    background: white;
    border-color: #C0C0C0;
}

button:focus { outline: none; }
.send-button:active {background: #7cad06;}

#map{
  display: block;
  height: 400px;
  margin: 0 auto;
}

/* FOOTER */
.footer {
  background: #505050;
  padding: 0px !important;
}
.footer a { color: white !important; font-weight: 400; }
.footer a, .copyright {
  height: 60px;
  line-height: 60px;
}
.footer-title a:hover {
  text-decoration: none;
}
.copyright { color: white; }
