
* { font-size: 3.5vw; box-sizing: border-box; }

html, body {
  margin: 0px; padding: 0px;
  background: #f9f7f6;
  color: #404d5b;
  font-weight: 300;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

.flex, .flex_x > * { display: flex; flex-wrap: wrap; }
.flex > *, .flex_x > * > * { flex: 1; }

.col, .col_x > * { flex-direction: column; }

.wide_1 { flex: 1; }
.wide_2 { flex: 2; }
.wide_4 { flex: 4; }
.wide_8 { flex: 8; }

.wrap_2 > * { flex-basis: 49%; }
.wrap_3 > * { flex-basis: 32%; }
.wrap_4 > * { flex-basis: 24%; }

.center, .center_x > * {
  align-items: center;
  align-content: center;
  text-align: center;
}

.wide, .wide_x > * { width: 100%; }
.tall, .tall_x > * { height: 100%; }

a { color: #404d5b; text-decoration: none; outline: none; }
ul, li { list-style: none; display: inline-block; }
h1, h2, h3 { text-transform: uppercase; }
section { padding: 1% 10%; }
p { line-height: 1.7; }
section a {
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
  font-weight: 500;
}

.grid-image {
  background: white no-repeat center top;
  height: 30%;
  background-size: cover;
}

/* HEADER */
h1 { padding: 5% 10%; font-size: 6vw; margin:0px;}
h1 span {
  display: block;
  font-size: 50%;
  font-weight: 400;
  color: #c3c8cd;
}

/* ABOUT */
.about { background: rgba(149,165,166,0.1); }
.about a { border-bottom: 1px solid rgba(52,73,94,0.4); }
.about a:hover, .about a:focus { border-color: rgba(52,73,94,0); background-color: rgba(52,73,94,0.1); }

.link-border a { color: #e74c3c; }

.link-slideright { background: rgba(149,165,166,0.3); }
.link-slideright a { background: rgba(149,165,166,0.4); }

.link-scaleup {
  background: #34495e;
  color: #b4b4b4;
}
.link-scaleup a {
  color: #e74c3c;
  background-color: #fff;
}

.link-scaleupbounce {
  background: #e74c3c;
  color: #fff;
}
.link-scaleupbounce a {
  background-color: #fff;
}

.link-arrow { background: rgba(149,165,166,0.4); }
.link-arrow a { background: #fff; }
.link-arrow a { background: #34495e url(../img/arrow_right.svg) no-repeat 50% 50%; }

/* SOCIAL */
.social a i { font-size: 10vw; line-height: 2.2em; }
.social a i { color: lightgray; }
.social a:hover i { color: darkgray; }

/* CONTACT */
.contact { background: rgba(149,165,166,0.1); }
.contact a { border-bottom: 1px solid rgba(52,73,94,0.4); }
.contact a:hover, .contact a:focus { border-color: rgba(52,73,94,0); background-color: rgba(52,73,94,0.1); }

input, textarea, .send-button {
  border-radius: 0px;
  background: #f2f2f2;
  padding: 5%;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #cacaca;
  margin: 0px;
  color: #C0C0C0;
}
textarea { height: auto; margin-bottom: -8px;}
input:focus, textarea:focus {
    outline: none;
    background: white;
    border-color: #C0C0C0;
}

.send-button {
  color: white;
  background: #404d5b;
  text-align: left;
  border: none;
}
.send-button:hover, .send-button:focus {background: #35404c; outline: none; }
.send-button:active { background: #607388; }
